
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1 style="text-align:center">
        <a href="/swagger/ui/index">API</a>
    </h1>
    
</body>
</html>
